In [17]:
import pandas as pd
import numpy as np
import finnhub
finnhub_client = finnhub.Client(api_key="btv5pnf48v6q7nvmtllg")

In [22]:
tsla_est = finnhub_client.company_revenue_estimates('TSLA', freq='annual')
tsla_df = pd.DataFrame(tsla_est)
tsla_est

{'data': [{'numberAnalysts': 21,
   'period': '2024-12-31',
   'revenueAvg': 96416624918,
   'revenueHigh': 100273289915,
   'revenueLow': 93524126171},
  {'numberAnalysts': 21,
   'period': '2023-12-31',
   'revenueAvg': 71828831980,
   'revenueHigh': 74701985259,
   'revenueLow': 69673967020},
  {'numberAnalysts': 25,
   'period': '2022-12-31',
   'revenueAvg': 54313992266,
   'revenueHigh': 70521882000,
   'revenueLow': 35304120000},
  {'numberAnalysts': 31,
   'period': '2021-12-31',
   'revenueAvg': 41937343852,
   'revenueHigh': 50703180000,
   'revenueLow': 31743250000},
  {'numberAnalysts': 31,
   'period': '2020-12-31',
   'revenueAvg': 30181619607,
   'revenueHigh': 33285048000,
   'revenueLow': 25425640000},
  {'numberAnalysts': 35,
   'period': '2019-12-31',
   'revenueAvg': 24851521707,
   'revenueHigh': 26616900000,
   'revenueLow': 23128583000},
  {'numberAnalysts': 32,
   'period': '2018-12-31',
   'revenueAvg': 21679453441,
   'revenueHigh': 22514460000,
   'revenueLow': 19885000000},
  {'numberAnalysts': 25,
   'period': '2017-12-31',
   'revenueAvg': 11912890153,
   'revenueHigh': 12241020000,
   'revenueLow': 10998830000},
  {'numberAnalysts': 22,
   'period': '2016-12-31',
   'revenueAvg': 7124509538,
   'revenueHigh': 8563996500,
   'revenueLow': 6577667000},
  {'numberAnalysts': 21,
   'period': '2015-12-31',
   'revenueAvg': 5437814673,
   'revenueHigh': 5758920000,
   'revenueLow': 5083188000},
  {'numberAnalysts': 22,
   'period': '2014-12-31',
   'revenueAvg': 3752066356,
   'revenueHigh': 3876887400,
   'revenueLow': 3356876090},
  {'numberAnalysts': 16,
   'period': '2013-12-31',
   'revenueAvg': 2437979402,
   'revenueHigh': 2523908400,
   'revenueLow': 2255056000},
  {'numberAnalysts': 14,
   'period': '2012-12-31',
   'revenueAvg': 408780592,
   'revenueHigh': 450942000,
   'revenueLow': 326896790},
  {'numberAnalysts': 14,
   'period': '2011-12-31',
   'revenueAvg': 206688682,
   'revenueHigh': 217011120,
   'revenueLow': 191303400},
  {'numberAnalysts': 8,
   'period': '2010-12-31',
   'revenueAvg': 115344934,
   'revenueHigh': 120666000,
   'revenueLow': 105730000}],
 'freq': 'annual',
 'symbol': 'TSLA'}

In [21]:
pd.DataFrame(finnhub_client.company_basic_financials('TSLA', 'margin'))

                                    metric metricType symbol
freeOperatingCashFlow/revenue5Y  -10.34128     margin   TSLA
freeOperatingCashFlow/revenueTTM   3.10954     margin   TSLA
grossMargin5Y                     18.67445     margin   TSLA
grossMarginAnnual                 16.55546     margin   TSLA
grossMarginTTM                    19.77206     margin   TSLA
netProfitMargin5Y                 -7.28780     margin   TSLA
netProfitMarginAnnual             -3.15323     margin   TSLA
netProfitMarginTTM                 1.86323     margin   TSLA
operatingMargin5Y                 -5.04491     margin   TSLA
operatingMarginAnnual             -0.28074     margin   TSLA
operatingMarginTTM                 4.78450     margin   TSLA
pretaxMargin5Y                    -7.99014     margin   TSLA
pretaxMarginAnnual                -2.70567     margin   TSLA
pretaxMarginTTM                    2.21721     margin   TSLA

In [25]:
pd.DataFrame(finnhub_client.financials_reported(symbol='TSLA', freq='annual'))

       cik                                               data symbol
0  1318605  {'accessNumber': '0001564590-20-004475', 'symb...   TSLA
1  1318605  {'accessNumber': '0001564590-19-003165', 'symb...   TSLA
2  1318605  {'accessNumber': '0001564590-18-002956', 'symb...   TSLA
3  1318605  {'accessNumber': '0001564590-17-003118', 'symb...   TSLA
4  1318605  {'accessNumber': '0001564590-16-013195', 'symb...   TSLA
5  1318605  {'accessNumber': '0001564590-15-001031', 'symb...   TSLA
6  1318605  {'accessNumber': '0001193125-14-069681', 'symb...   TSLA
7  1318605  {'accessNumber': '0001193125-13-096241', 'symb...   TSLA
8  1318605  {'accessNumber': '0001193125-12-081990', 'symb...   TSLA

In [ ]:
{'2024': [{'numberAnalysts': 21,
   'period': '2024-12-31',
   'revenueAvg': 96416624918,
   'revenueHigh': 100273289915,
   'revenueLow': 93524126171},
  {'numberAnalysts': 21,
   'period': '2023-12-31',
   'revenueAvg': 71828831980,
   'revenueHigh': 74701985259,
   'revenueLow': 69673967020},
  {'numberAnalysts': 25,
   'period': '2022-12-31',
   'revenueAvg': 54313992266,
   'revenueHigh': 70521882000,
   'revenueLow': 35304120000},
  {'numberAnalysts': 31,
   'period': '2021-12-31',
   'revenueAvg': 41937343852,
   'revenueHigh': 50703180000,
   'revenueLow': 31743250000},